  <body data-target=".navbar">

    <div class="container">
      <div "form-group">
        <div class="form-inline">
          <%= form_for :entry, url: entries_path do |f| %>
              <%= f.label :time_spent %>
              <%= f.text_field :time_spent, placeholder: 'e.g. 1:30, 1.5, 90, 1h', :style => "width: 10em;" %>
              <%= f.label :project_id %>
              <%= f.autocomplete_field :project_name, autocomplete_project_name_entries_path %>
              <%= f.label :description %>
              <%= f.text_area :description, :rows => "1"%>
              <%= f.label :date %>
              <%= f.text_field :date, :class => 'datepicker' %>
              <script type="text/javascript">
              $(function() {
                $('.datepicker').datepicker({
                  showButtonPanel: true,
                  dateFormat: 'dd/mm/yy',});
                });
              </script>
              <%= f.submit "Add" %>
           <% end %>
        </div>
      </div>
    </div>

    <div class="container">
      <a class="btn" href="/entries/?from=<%= @previous_month.strftime("%d/%m/%Y") %>">
        <span class="icon-backward"></span>
        <%= @previous_month.strftime("%d/%m/%Y") %>
      </a>

      <% if Date.today >= @next_month %>
        <a class="btn right" href="/entries/?from=<%= @next_month.strftime("%d/%m/%Y") %>">
          <%= @next_month.strftime("%d/%m/%Y") %>
          <span class="icon-forward"></span>
        </a>
      <% end %>

      <h2 id="<%= current_user.username %>"><%= current_user.username %> (for <%= @from.strftime("%B %Y") %>)</h2>

      <table class="table">
        <thead>
        <tr>
          <th>project</th>
          <th>time</th>
          <th>at</th>
          <th>description</th>
          <th>original_id</th>
          <th>exported</th>
        </tr>
        </thead>

        <tbody>
        <% @entries.each do |entry| %>
          <tr>
            <td><%= entry.project.name %></dt>
            <td><%= entry.formatted_minutes %></td>
            <td><%= entry.date.strftime("%d/%m/%Y") %></td>
            <td><%= entry.description %></td>
            <td><%= entry.original_id %></td>
            <td><%= entry.exported %></td>
          </tr>
        <% end %>
        <tr>
          <td>Total:</td>
          <td><strong><%= @total / 60 %>:<%= @total % 60 %></strong></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>

      <a class="btn" href="/entries/?from=<%= @previous_month.strftime("%d/%m/%Y") %>">
        <span class="icon-backward"></span>
        <%= @previous_month.strftime("%d/%m/%Y") %>
      </a>

      <% if Date.today >= @next_month %>
        <a class="btn right" href="/entries/?from=<%= @next_month.strftime("%d/%m/%Y") %>">
          <%= @next_month.strftime("%d/%m/%Y") %>
          <span class="icon-forward"></span>
        </a>
      <% end %>
    </div>
  </body>
</html>
