<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">


<div class="container">
  <% @users.each do |user| %>
    <h2><%= user.name %> (from <%= @from.strftime("%m/%d/%Y") %>)</h2>

    <table class="table">
      <thead>
      <tr>
        <th>original_id</th>
        <th>time</th>
        <th>at</th>
        <th>description</th>
        <th>exported</th>
      </tr>
      </thead>

      <tbody>
      <% user.entries.each do |entry| %>
        <tr>
          <td><%= entry.original_id %></td>
          <td><%= entry.formatted_minutes %></td>
          <td><%= entry.date.strftime("%m/%d/%Y") %></td>
          <td><%= entry.description %></td>
          <td><%= entry.exported %></td>
        </tr>
      <% end %>
      <tr>
        <td>Total:</td>
        <td><strong><%= user.total / 60 %>:<%= user.total % 60 %></strong></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>

  <% end %>
</div>
