<div class="container">
  <div class="row">
        <%= form_for([:admin, @project]) do |f| %>
          <% if @project.errors.any? %>
            <div class="alert alert-danger">
              <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

              <ul>
              <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="form-inline">
            <div class="col-lg-4">
              <div class="input-group">
                <%= f.label :name, class: "input-group-addon" %>
                <%= f.text_field :name, class: "form-control" %>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="input-group">
                <%= f.label :user_tokens, 'Users', class: "input-group-addon" %>
                <%= f.text_field :user_tokens, class: "form-control", "data-pre" => @project.users.map{ |user| {:id => user.id, :name => user.username} }.to_json %>
                <script type="text/javascript">
                  $(function() {
                    $("#project_user_tokens").tokenInput("/admin/users.json", {
                      crossDomain: false,
                      prePopulate: $("#project_user_tokens").data("pre"),
                      theme: "facebook",
                      minChars: 0
                    });
                  });
                </script>
              </div>
            </div>
            <div class="input-group">
                <%= f.submit "Save", class: "btn btn-default" %>
            </div>
          </div>
        <% end %>
  </div>
</div>
