<%= render "form" %>

<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Assigned Users</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.users.map(&:username).join(",") %></td>
        <td>
          <div class="pull-right">
            <%= link_to project_path(project), :class => 'btn btn-default btn-sm' do %>
              <span class="glyphicon glyphicon-zoom-in"></span>
              View
            <% end %>
            <%= link_to edit_project_path(project), :class => 'btn btn-default btn-sm' do %>
              <span class="glyphicon glyphicon-pencil"></span>
              Edit
            <% end %>
            <%= link_to project_path(project),
                    method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-default btn-sm' do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>
